<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<<form action = "" method = "get">>
  First name:<br>
  <input type="text" name="first_name" value="" placeholder=" First name">
  <br>
  Last name:<br>
  <input type="text" name="last_name" value="" placeholder=" Last name">
  <br>
 
   EmailId:<br>
  <input type="text" name="EmailId" value="" placeholder="etc@gmail.com">
  <br>
  phone_no:<br>
  <input type="text" name="phone_no" value="">
  <br>

  cityZip:<br>
  <input type="text" name="cityZip" value="" placeholder="city name">
  <br>
 city:<br>
  <input type="text" name="city" value="">
  <br><br>
  <input type="submit" value="Submit">
</form> 
<br><br>
<a href="/disp.html/">Display</a>

</body>
</html>
